* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #FFEBB7;
    font-family: sans-serif;
    font-size: 24px;
}

.navbar {
    background-color: #243763;
    max-width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;


    a {
        text-decoration: none;
        color: white;
        display: block;
        float: left;
        padding: 15px;
    }
}

.nav--burger {
    display: flex;
    justify-content: flex-end;

    .home {
        background-color: #FF6E31; 
    }

    & a:hover {
        background-color: #f7a785;
    }
}

.nav--icon {
    display: none;
}